.row-header{
    margin:0px auto;
    padding:0px;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.jumbotron {
    padding:40px 30px 10px 30px;
    margin:0px auto;
    background-color: white;
    color:floralwhite;
}

.logo-titulo {
    font-family: 'Satisfy', cursive;
    color: black;
    font-size: xx-large;
}

.txt-1 {
    color: black;
}

.menu-bar {
    color: white;
}

.navbar-dark { 
    background-color: gray;
    padding:20px 30px 20px 30px;
}

main{
    padding: 50px 0px 0px 0px;
    z-index: 0;

}
header{

    background-color: white;
}